(
    axes: {},
    actions: {
        "toggle_fps": [[Key(LControl), Key(LShift), Key(L)]],
        "increase_speed": [[Key(Add)]],
        "decrease_speed": [[Key(Subtract)]],
        "toggle_pause": [[Key(Space)]],
    },
)
